.itemRounded {
  padding: 24px;
  width: 48px;
  border: 1px solid black;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameItem {
  display: flex;
  flex-direction: column;
  width: 98px;
  margin: 12px;
  margin-bottom: 24px;
}

.obsLink {
  margin-top: 8px;
  text-decoration: underline;
  color: blue;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

.list {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
