.itemRounded {
  padding: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
  box-shadow: 0 0 64px 5px rgb(88, 214, 97);
  border-radius: 50%;
  cursor: pointer;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.gameItem {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0px 24px;
  align-items: center;
}

.obsLink {
  margin-top: 8px;
  text-decoration: underline;
  color: blue;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('/assets/mapWeb.png');
  background-color: rgb(52, 52, 52);
  background-size: cover;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  display: flex;
  padding: 48px;
  width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
}

.cityName {
  margin-top: 8px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 12px;
}

.stat {
  font-size: 12px;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nsk {
  background-image: url('/assets/cities/nsk.png');
  width: 42px;
  height: 42px;
}

.omsk {
  background-image: url('/assets/cities/omsk.png');
  width: 42px;
  height: 42px;
}

.tomsk {
  background-image: url('/assets/cities/tomsk.png');
  width: 42px;
  height: 42px;
}

.barnaul {
  background-image: url('/assets/cities/barnaul.png');
  width: 42px;
  height: 42px;
}

.kemerovo {
  background-image: url('/assets/cities/kemerovo.png');
  width: 42px;
  height: 42px;
}

.krasnoyarsk {
  background-image: url('/assets/cities/krasnoyarsk.png');
  width: 42px;
  height: 42px;
}

.enterIcon {
  background-size: cover;
  background-position: center;
  width: 285px;
  cursor: pointer;
  height: 220px;
}

.enterIcon.inactive {
  width: 245px;
  height: 200px;
  filter: grayscale(0.8);
}

.dmIcon {
  background-image: url('/assets/deathmatch.png');
}

.tourIcon {
  background-image: url('/assets/tour.png');
}

.entersContainer {
  display: flex;
}

.enterItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}
