.controllers {
  display: flex;
  position: absolute;
  flex-direction: row;
  right: 0;
  bottom: 0;
  align-items: center;
  bottom: 0;
  height: 100px;
  margin-bottom: 27px;
  margin-right: 20px;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.deathNotesWrapper {
  position: absolute;
  top: 30%;
  left: 20px;
  overflow: hidden;
}
