.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-size: cover;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  width: 100%;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.button {
  font-size: 20px;
  line-height: 20px;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 5px;
  background: linear-gradient(to bottom, #65ff65 0%, #0d100e 100%);
  cursor: pointer;
}
